<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TagScanner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
	<appSettings>
	</appSettings>
 <applicationSettings>
  <TagScanner.Properties.Settings>
   <setting name="LibraryFilter" serializeAs="String">
    <value>ID3 Media Library Files|*.id3lib|All Files (*.*)|*.*</value>
   </setting>
   <setting name="MediaFilter" serializeAs="String">
    <value>AV Files (*.avi;*.m4a;*.mp3;*.mp4;*.wma;*.wmv)|*.avi;*.m4a;*.mp3;*.mp4;*.wma;*.wmv|Audio Files (*.m4a;*.mp3;*.wma)|*.m4a;*.mp3;*.wma|Video Files (*.avi;*.mp4;*.wmv)|*.avi;*.mp4;*.wmv|Image Files (*.bmp;*.gif;*.jpeg;*.jpg;*.png)|*.bmp;*.gif;*.jpeg;*.jpg;*.png|All Files (*.*)|*.*</value>
   </setting>
   <setting name="PlayerFilter" serializeAs="String">
    <value>Playlists|*.wpl|All Files (*.*)|*.*</value>
   </setting>
   <setting name="SearchFilter" serializeAs="String">
    <value>ID3 Media Library Search Filters|*.id3filter|All Files (*.*)|*.*</value>
   </setting>
  </TagScanner.Properties.Settings>
 </applicationSettings>
</configuration>
